<ngb-carousel>
  <ng-template ngbSlide>
    <div class="carousel">
      <img src="../../../assets/fundo-verde.png" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Olá!</h3>
      <p>Eu sou a Letícia :)</p>
    </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="carousel">
      <img src="../../../assets/fundo-cinza.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Desenvolvedora front-end</h3>
      <p>Com 1 ano e meio de atuação</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="carousel">
      <img src="../../../assets/fundo-rosa.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>E esse é meu teste</h3>
      <p>Desenvolvido em Angular (com Angular Material e Bootstrap)</p>
    </div>
  </ng-template>
</ngb-carousel>
